
<style>
  .hero-page {
    background: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548)), url("../../assets/story-slider-01.jpg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 80vh;
    color: white;
    font-size: 20px;
  }

    .hero-page h1 {
      font-size: 50px;
      font-weight: bolder;
      margin-bottom: 30px;
      line-height: 65px;
    }

  nav ul li a:hover {
    color: #02225b;
  }

  nav a {
    font-size: 20px;
    font-weight: bolder;
  }

    nav a:hover {
      color: #02225b;
    }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

      .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }



</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand pl-5" href="#">Navbar</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto pr-5">
      <li class="nav-item active pl-3 pr-3">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item pl-3 pr-3">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown pl-3 pr-3">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid hero-page">
  <div class="container">
    <div class="row align-items-center" style="height: 60vh;">
      <div class="col-6">
        <h1>Showcase your app with Small Apps</h1>
        <p>
          Besides its beautiful design. Bootstrap is an incredibly rich core
          framework for you to showcase your App.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Interesting stuff</h1>
      <p>
        blah blah blah
      </p>
      <h2>Development</h2>
      <div class="card-container">
        <a class="card card-small" target="_blank" href="https://localhost:5001/swagger/index.html" target="_blank">
          <span>Swagger</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
        </a>
        <a class="card card-small" target="_blank" href="http://localhost:5340" target="_blank">
          <span>Seq logs</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
        </a>
        <a class="card card-small" target="_blank" href="http://localhost:8080" target="_blank">
          <span>Keycloak server</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
        </a>
      </div>

      <!-- Authentication -->
      <h2>Authentication</h2>
      <div class="card-container">
        <div *ngIf="userDetails">
          <h3>Hello {{userDetails.firstName}} {{userDetails.lastName}} [{{userDetails.username}}]</h3>
          <p>
            {{userDetails.email}}
          </p>
          <ul class="navbar-nav flex-grow">
            <li class="nav-item">
              <a [routerLink]="['/fetch-profile']">Fetch user profile</a>
            </li>
            <li class="nav-item">
              <a (click)="doLogout()" clrDropdownItem>Log out</a>
            </li>
          </ul>
        </div><br />
      </div>

      <!-- Demo Components-->
      <h2>Demo Components</h2>
      <div class="card-container">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/fetch-data-postgres']">Fetch data from Postgres Database</a>
          </li>
        </ul><br />
      </div>

    </div>
  </div>
</div>

<div class="card-container">
  <router-outlet></router-outlet>
</div>


<div class="container mt-5 pt-5 pb-5 mb-5">
  <div class="row align-items-center justify-content-around"
       style="height: 60vh;">
    <div class="col-3 card" style="height: 60vh;">
      <img class="card-img-top"
           src="../../assets/phone 2.png"
           alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="col-3 card" style="height: 60vh;">
      <img class="card-img-top"
           src="../../assets/phone 2.png"
           alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="col-3 card" style="height: 60vh;">
      <img class="card-img-top"
           src="../../assets/phone 2.png"
           alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>


<footer class="bg-dark" style="min-height: 10vh;">
  <div class="row justify-content-center align-items-center p-0 m-0"
       style="min-height: 10vh;">
    <div class="col-12 text-center">
      <p style="color: #fff;">Copyright © 2020</p>
    </div>
  </div>
</footer>
